<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/vendor/styles.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1 class="logo"><a href="/">BeerSearchr</a></h1>
				<h5><a href="/tim">See What Tim's Drinking</a></h5>
				<a href="http://www.github.com/thannes30" target="_blank">View my other projects</a>
			</div>

			<div>
			      <%if @error then %>
			          <div class="alert alert-error"><%=@error%></div>
			      <% end %>
						<div class="container">

				      	<%= yield %>

						</div>
			</div>

	</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
